* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}


/* section-gender-selection */

.container-gender-selection {
    padding-top: 20px;
}
.title-gender-selection {
    text-align: center;
}
.title-selection-text {
    display: inline-block;
    max-width: 260px;
    font-size: 30px;
    line-height: 33px;
}
.block-gender-selection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.choose-your-gender {
    display: flex;
    align-items: center;
}
.wrapper-selection-gender-img {
    display: flex;
    width: 263px;
}
.selection-gender-img {
    width: 100%;
    object-fit: cover;
}
.title-choose-gender {
    text-align: center;
}
.choose-your-gender-links {
    display: flex;
    margin: 20px -25px -25px -25px;
}
@keyframes signal {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.choose-your-gender-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 25px;
}
.choose-your-gender-link.man {
    background: linear-gradient(180deg, #91e7da 0%, #2da2d7 100%);
}
.choose-your-gender-link.woman { 
    background: linear-gradient(180deg, #ef888c 0%, #cf47c6 100%);
}
.choose-your-gender-link::before { 
    content: '';
    position: absolute;
    z-index: -1;
    width: 170px;
    height: 170px;
    opacity: 0.5;
    -webkit-animation: signal 2s infinite;
    animation: signal 2s infinite;
    border-radius: 50%;
}
.choose-your-gender-link.man::before {
    background-color: #91e7da;
}
.choose-your-gender-link.woman::before {
    background-color: #ef888c;
}
.choose-your-gender-text {
    margin-top: 10px;
    color: #fff;
}