<section class="section-gender-selection">
    <div class="container container-gender-selection">
        <h2 class="title-gender-selection">
            <span class="title-selection-text">
                Давайте оценим
                Ваш профиль
            </span>
        </h2>

        <div class="block-gender-selection">
            <div class="wrapper-selection-gender-img man">
                <img class="selection-gender-img" src="/image/man-icon.png" alt="мужчина">
            </div>
            <div class="choose-your-gender">
                <div class="wrapper-choose-your-gender">
                    <h3 class="title-choose-gender">
                        Выберите свой пол
                    </h3>
                    <div class="choose-your-gender-links">
                        <a href="" class="choose-your-gender-link man">
                            <img src="/image/male-icon.svg" alt="">
                            <span class="choose-your-gender-text">Мужчина</span>
                        </a>
                        <a href="" class="choose-your-gender-link woman">
                            <img src="/image/male-icon.svg" alt="">
                            <span class="choose-your-gender-text">Женщина</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="wrapper-selection-gender-img woman">
                <img class="selection-gender-img" src="/image/woman-icon.png" alt="женщина">
            </div>
        </div>
    </div>
</section>